body{
    background-color: rgb(206, 206, 253);
    
}

.cartao{
    width: 400px;
    height: 200px;
    /* box-sizing: border-box;   */
    background-image: url("./image/backgroundcartao.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
}

#nome{
    color: rgb(54, 54, 253);
    margin-left: 25px;
}

a{
    text-decoration: none;
    color: rgb(54, 54, 253);
}

ul{
    padding: 0;
}

li{
    margin: 0;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.insta{
    background-image: url("./image/logoinsta.jfif");
}

.email{
    background-image: url("./image/email.png");
}

.whats{
    background-image: url("./image/whats.jfif");
}

.github{
    background-image: url("./image/logogithub.png");
}



